// Colors
$primaryColor : #4FC1E9;
$textLightColor: #FFFFFF;
$bgColor : #e6e9ed;
$evenListItemColor : #d7f1fa;
$padArrowHover: #ddd;
$actionBarBgColor: rgba(0,96,151,0.7);
$overlayBgColor: rgba(142,142,142,0.7);

// Path
$imagesPath : 'images';