<div class="movepad-container" ng-show="isVisible" hm-doubletap="closeRemote()">
  <div class="movepad-actions">
    <div class="mp-action top">
      <div class="btn-mp-ac"><span hm-tap="onRotateLeftButton()" ng-show="isButtonVisible('on-rotate-left');" class="fa fa-rotate-left"></span></div>
      <div class="btn-mp-ac"><span hm-tap="onRotateRightButton()" ng-show="isButtonVisible('on-rotate-right');" class="fa fa-rotate-right"></span></div>
    </div>
    <figure>
      <div hm-press="onTopButton()" hm-pressup="onStop()" ng-show="isButtonVisible('on-top');" class="btn-mp"></div>
      <div hm-press="onRightButton()" hm-pressup="onStop()" ng-show="isButtonVisible('on-right');" class="btn-mp"></div>
      <div hm-press="onLeftButton()" hm-pressup="onStop()" ng-show="isButtonVisible('on-left');" class="btn-mp"></div>
      <div hm-press="onBottomButton()" hm-pressup="onStop()" ng-show="isButtonVisible('on-bottom');" class="btn-mp"></div>
      <figcaption><span hm-tap="onValidButton()" ng-show="isButtonVisible('on-valid');" class="fa fa-flag"></span></figcaption>
    </figure>
    <div class="mp-action bottom">
      <div class="btn-mp-ac"><span hm-tap="onReseteButton()" ng-show="isButtonVisible('on-resete');" class="fa fa-crosshairs"></span></div>
      <div class="zoom">
        <div class="btn-mp-ac"><span  hm-press="onZoomInButton()" hm-pressup="onStop()" ng-show="isButtonVisible('on-zoom-in');" class="fa fa-search-plus"></span></div>
        <div class="btn-mp-ac"><span hm-press="onZoomOutButton()" hm-pressup="onStop()" ng-show="isButtonVisible('on-zoom-out');" class="fa fa-search-minus"></span></div>
      </div>
    </div>
  </div>
</div>
