<nav class="actionbar">
  <div>
    <ul class="actions">
      <li ng-click="onFlagAction()" ng-show="flagIsVisible"><i class="fa fa-flag"></i></li>
      <li ng-click="onMoveCrossAction()"><i class="fa fa-arrows"></i></li>
      <li ng-show="!flagIsVisible">
        <button class="fa fa-exchange" uib-popover-template="tackTemplateUrl" type="button"></button>
      <li ng-click="onTrashAction()" ng-show="!flagIsVisible"><i class="fa fa-trash"></i></li>
      <li ng-click="onPlayAction()"  ng-show="!flagIsVisible"><i class="fa fa-play"></i></li>
      <li ng-show="!flagIsVisible"><i class="fa fa-forward"></i></li>
    </ul>
  </div>
</nav>

<script type="text/ng-template" id="popoverTackTemplate.html">
  <div class="tackbutton">
    <button type="button" ng-click="onTackBabordAction()"><i class="fa fa-long-arrow-left"></i></button>
    <button type="button" ng-click="onTackTribordAction()"><i class="fa fa-long-arrow-right"></i></button>
  </div>
</script>
