<nav class="actionbar">
  <div>
    <ul class="actions">
      <li hm-tap="onFlagAction()" ng-show="flagIsVisible">
        <i class="fa fa-flag"></i>
      </li>
      <li hm-tap="onMoveCrossAction()">
        <i class="fa fa-arrows"></i>
      </li>
      <li ng-show="!flagIsVisible" uib-dropdown auto-open="outsideClick" class="dropup">
        <button class="fa fa-exchange" uib-dropdown-toggle></button>
        <ul class="uib-dropdown-menu" template-url="popoverTackTemplate.html" aria-labelledby="button-template-url">

        </ul>
      </li>
      <li ng-show="!flagIsVisible" uib-dropdown auto-open="outsideClick" class="dropup">
        <button class="fa fa-bars" uib-dropdown-toggle></button>
        <ul class="uib-dropdown-menu" template-url="popoverModePlayTemplate.html" aria-labelledby="button-template-url">

        </ul>
      </li>
      <li ng-show="clearIsVisible" ng-click="onClearPreview()">
        <i class="fa fa-times"></i>
      </li>
      <li hm-tap="onTerminateAction()" ng-show="!flagIsVisible">
        <i class="fa fa-check"></i>
      </li>
    </ul>
  </div>
</nav>

<script type="text/ng-template" id="popoverTackTemplate.html">
  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="button-template-url">
    <li role="menuitem">
      <a hm-tap="onTackBabordAction()">
        <i class="fa fa-long-arrow-left"></i>Virer à gauche
      </a>
    </li>
    <li role="menuitem">
      <a hm-tap="onTackTribordAction()">
        <i class="fa fa-long-arrow-right"></i>Virer à droite
      </a>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="popoverModePlayTemplate.html">
  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="button-template-url">
    <li role="menuitem" ng-hide="!playIsVisible" ng-class="{'active': mode == 'play'}">
      <a hm-tap="onPlayAction()"><i class="fa fa-clone"></i>Se déplacer</a>
    </li>
    <li role="menuitem" ng-hide="!trashIsVisible" ng-class="{'active': mode == 'trash'}">
      <a hm-tap="onTrashAction()"><i class="fa fa-trash"></i>Se défausser</a>
    </li>
    <li role="menuitem" ng-hide="!trapIsVisible" ng-class="{'active': mode == 'trap'}">
      <a hm-tap="onTrapAction()"><i class="fa fa-sun-o"></i>Piéger</a>
    </li>
  </ul>
</script>
