@import "styles/mixins.scss";
@import "styles/variables.scss";

.ng-hide{
  visibility : hidden !important;
}

html, body{
	background-color: $bgColor;
	height: 100%;
}
footer{
	position: fixed;
	width:100%;
	bottom : 0;
	text-align: center;
}
ul{
	list-style-type : none;
}
.splashscreen{
	background-color: $primaryColor;
	background-image : url(#{$imagesPath}/regatta_start.png);
	background-repeat: no-repeat;
	background-position : center center;
	background-size: contain;
	position: fixed;
	width: 100%;
	height: 100%;

	a.start{
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.start-screen {
  padding: 0;
  .header {
    h1 {
      color: $textLightColor;
      background-color: $bgButtonFlash;
      font-size: 1.5em;
      text-align: center;
      padding: 12px 10px;
      text-transform: uppercase;
      margin: 0 0 20px 0;
    }
  }
  .valid-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    button {
      @include regattaPrimaryButton(100px, 30px);
    }
  }
  ul.list-group {
    margin: 0 15px;
    li {
      background-color: rgba(255, 255, 255, 0.9);
      margin-bottom: 10px;
      a {
        display: block;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        padding: 12px 10px;
      }
      a i {
        float: right;
      }
    }
  }
  .form {
    padding: 20px;
    input{
      height: 50px;
    }
    ::-webkit-input-placeholder{
        text-transform: uppercase;
    }
  }
}
.color-chooser{
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  li{
    float: left;
    height: 50px;
    width: 50px;
    opacity : 0.9;
    margin-left: 10px;
    &:first-child{
      margin-left: 0;
    }
    &.active{
      border: 3px solid #fff;
    }
  }
	.blue{
		background-color: #1F4788;
	}
	.red{
		background-color: #8F1D21;
	}
	.yellow{
		background-color: #FFB61E;
	}
	.green{
		background-color: #26A65B;
	}
	.purple{
		background-color: #8E44AD;
	}
}
.playervalidation-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    @include regattaPrimaryButton(200px, 50px);
  }
}
.movepad-container{
	display: flex;
	align-items: center;
  justify-content: center;
	z-index: 100;
	position : absolute;
	bottom : 0;
	left : 0;
	width: 100%;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	background-color : $overlayBgColor;
	padding: 0;
	margin: 0;

	.closebutton{
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 24px;
		cursor: pointer;
	}
}

.movepad{
	width: 90%;
	.cmd.top{
		.kb-button{
			font-size: 60px;
		}
		display: flex;
		justify-content: space-between;
	}
	.cmd.bottom{
		.kb-button{
			font-size: 60px;
		}
		display: flex;
		justify-content: space-between;
	}
	.arrow {
		font-size : 84px;
	}
	.arrow.top,
	.arrow.bottom {
		text-align: center;
		clear: both;
	}
	.arrow.left{
		float: left;
	}
	.arrow.right{
		float: right;
	}
	.middle{
		overflow: hidden;
		margin : 120px 0;
		text-align: center;
	}
	.main-valid-button{
		@include circleSize(84px);
		font-size: 42px;

	}
	.kb-button{
		@include circle;
		background-color: $padArrowHover;
		cursor: pointer;
	}
	.kb-button:hover,
	.kb-button:active{
		opacity: 0.8;
	}
}
.board {
  position: fixed;
	height: 100%;
  width: 100%;
  rect.possibility {
    fill: transparent;
    stroke: #ccc;
    stroke-width: 0.1;
    &.card-selectable{
      fill: #aaa;
    }
  }
.card-overlay {
    .select-card-button{
      background: $overlayBgColor;
      color: #bbb;
      border: 1px solid #fff;
    }
    .select-card-button.active {
      color: #fff;
    }
  }
}
.actionbar{
	display: block;
	z-index: 100;
	bottom : 0;
	left : 0;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
  height: 10%;
}
.actionbar > div{
	background-color: $actionBarBgColor;
	ul.actions{
		display: flex;
		justify-content: center;
		padding: 0;
		margin: 0;
		li {
			border-radius : 4px;
			border: 1px solid #fff;
			color: #fff;
			width : 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			font-size: 24px;
			margin: 5px 10px 5px 0;
			cursor: pointer;
      button{
        border: none;
        background: transparent;
      }
		}
    ul.uib-dropdown-menu {
      border-radius: 4px;
      li {
        border: none;
        text-transform: uppercase;
        font-size: 16px;
      }
    }
	}
}

.actionbar > div ul li .tackbutton{
  font-size: 3em;
  button{
    background: transparent;
    border: 1px solid #fff;
    @include circle;
  }
}

.card-preview {
  background-color: $actionBarBgColor;
  height: 10%;
  width: 100%;
  img {
    float: left;
    margin-right: 2px;
    height: 100%;
    position: relative;
    display: block;
  }
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
