<div class="board" ng-controller="BoardCtrl as boardCtrl">
	<ul class="cards">
		<li ng-repeat="card in boardCtrl.My.cards" ng-show="boardCtrl.isVisible($index)">
			<img ng-src="{{boardCtrl.getCurrentImage($index)}}" alt="{{card.name}}" ng-click="boardCtrl.showNextCard()" />
		</li>
	</ul>
	<actionnavbar on-start="boardCtrl.showStartRemote()" on-move-map="boardCtrl.showMoveMapRemote()" flag-is-visible="!boardCtrl.IsBegun" />
	<placeboatremote is-visible="boardCtrl.startRemoteIsVisible" player="boardCtrl.My" game-id="boardCtrl.gameId" is-begun="boardCtrl.IsBegun" />
	<movemapremote is-visible="boardCtrl.moveMapRemoteIsVisible" />
</div>
